.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  @media screen and (min-width: 640px) {
    padding: 50px 50px;
  }
  @media screen and (min-width: 1024px) {
    padding: 50px 120px;
  }
}

.logo {
  height: 25px;
  &__image {
    height: 25px;
  }
  @media screen and (min-width: 640px) {
    height: 40px;
    &__image {
      height: 40px;
    }
  }
}

.menu {
  &__list {
    list-style: none;
    .menu__item {
      padding: 10px 30px;
      &:last-of-type {
        opacity: 0.5;
      }
      .menu__link {
        padding: 10px 30px;
        text-decoration: none;
        color: $neutral-darkgrayishblue-color;
      }
      .menu__spacer {
        opacity: 0.5;
        &--desktop {
          width: 10px;
        }
      }
      @media screen and (min-width: 640px) {
        padding: 0 5px;
        .menu__link {
          padding: 10px 10px;
          border-radius: 50px;
          &:hover {
            background-color: white;
          }
        }
      }
      @media screen and (min-width: 1024px) {
        .menu__link {
          padding: 10px 30px;
        }
      }
    }
  }
  &__list--mobile {
    display: none;
    position: absolute;
    top: calc(100% + 20px);
    right: 0;
    width: calc(100vw - 60px);
    padding: 10px 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba($color: #000000, $alpha: 0.15);
    .menu__item--mobile {
      text-align: center;
      margin-bottom: 10px;
      .menu__spacer {
        border-top: 1px solid #777;
      }
    }
  }
  &__checkbox {
    display: none;
  }
  &__checkbox:checked ~ .hamburger__icon {
    .hamburger__image--menu {
      display: none;
    }
    .hamburger__image--close {
      display: block;
    }
  }
  &__checkbox:checked ~ .menu__list--mobile {
    display: block;
  }
  &__list--desktop {
    display: none;
    @media screen and (min-width: 640px) {
      display: flex;
    }
  }
}

.hamburger {
  position: relative;
  width: 35px;
  height: 35px;
  &__icon {
    .hamburger__image--menu {
      width: 35px;
    }
    .hamburger__image--close {
      width: 35px;
      display: none;
    }
  }
  @media screen and (min-width: 640px) {
    display: none;
  }
}
