// Colors

$primary-red-color: hsl(0, 100%, 68%);

$neutral-verydarkblue-color: hsl(230, 29%, 20%);
$neutral-darkgrayishblue-color: hsl(230, 11%, 40%);
$neutral-grayishblue-color: hsl(231, 7%, 65%);
$neutral-lightgrayishblue: hsl(207, 33%, 95%);

//Typography

$body-size: 18px;
$body-font: "Barlow", sans-serif;
$items-font: "Barlow Condensed", sans-serif;

// Wrapper desktop max-width
$mobile-horizontal-width: 640px;
$tablet-width: 1024px;
$max-width: 1440px;
